.awards {
    width: 100%;
    display: flex;

    @include breakpoint('large') {
        display: block;
        transition: 500ms;
    }


    .left {
        width: 36%;
        background-color: $bgColorleft2;
        display: flex;

        .header-left {

            @include breakpoint('large') {
                width: 100%;
                text-align: left;
                transition: 500ms;
            }
        }

        @include breakpoint('large') {
            width: 100%;
            text-align: left;
            transition: 500ms;
        }

    }

    .right {
        width: 64%;
        display: flex;
        padding: 20px 100px 20px 50px;
        background-color: $bgColorright2;

        @include breakpoint('large') {
            width: 100%;
            transition: 500ms;
        }

        .item {
            padding: 20px 50px 20px 0;
            color: $fontColor;

            .line {
                height: 5px;
                width: 0;
                background-color: $mainColor;
            }

            &:hover .line {
                transition-duration: 0.6s;
                transition-timing-function: ease;
                transition-delay: 0s;
                transition-property: all;
                width: 20%;

            }

            p {
                line-height: 1.7;
            }
        }
    }

}