.clients {
    width: 100%;
    display: flex;

    @include breakpoint('large') {
        display: block;
        transition: 500ms;
    }


    .left {
        width: 36%;
        background-color: $bgColorleft2;
        text-align: right;
        padding-top: 4%;

        @include breakpoint('large') {
            display: flex;
            width: 100%;
            justify-items: flex-end;
            text-align: left;
        }


        .header-left {

            margin: 0;
            padding-right: 10%;

            h3 {
                color: $footerHeaderColor
            }

            h4 {
                color: $fontColor;
            }

            @include breakpoint('large') {
                width: 100%;
                text-align: left;
                transition: 500ms;
                padding-left: 50px;
            }
        }

    }

    .right {
        width: 64%;
        background-color: $bgColorright2;
        padding: 20px 100px 20px 20px;

        @include breakpoint('large') {
            width: 100%;
            transition: 500ms;
            padding: 20px 100px 20px 25px;
        }



        ul {
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            padding: 0;


            li {
                width: 25%;




                a {

                    padding: 0 13px;


                    img {

                        padding: 10px 10px;
                        max-width: 80%;
                        max-height: 80%;
                        opacity: 0.6;

                    }

                    &:hover img {
                        opacity: 1;
                        transition: 500ms;
                    }

                }

            }

        }
    }

}