.contact {
    width: 100%;
    display: flex;

    .left {
        width: 36%;
        background-color: $bgColorleft1;
        text-align: right;
        padding-top: 1%;
        height: 262px;

        .header-left {

            margin: 0;
            padding-right: 10%;

            h3 {
                color: $footerHeaderColor
            }

            h4 {
                color: $fontColor;
            }
        }
    }

    .right {
        width: 64%;
        background-color: #fff;
        padding: 20px 100px 20px 50px;
        position: absolute;
        left: 36%;

        .footer-contact {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #ccc;
            position: relative;

            .contact-body {
                color: $footerHeaderColor;

                a {
                    font-size: 0.9em;
                    color: $footerHeaderColor;

                    &:hover {
                        color: $mainColor;
                        transition: 500ms;
                    }
                }

                .contact-top {
                    font-weight: 600;
                    font-size: 0.8em;

                }

                .contact-bottom {
                    font-size: 0.9em;
                }

            }

        }

        .brand {
            width: 100%;
            margin-top: 10%;
            position: relative;

            .brand-left {

                .name {
                    font-size: 3em;
                    margin: 0;
                    opacity: 0.6;
                    color: $fontColor;
                }

                .surname {
                    font-size: 3em;
                    margin: -10px 0 0 0;
                    color: $mainColor;
                    font-weight: 700;
                }

            }

            .brand-right {
                position: absolute;
                right: 0;
                bottom: 8%;

                .social {
                    display: flex;
                    justify-content: right;
                    gap: 10px;



                    a {
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        border: 2px solid #EDEDED;
                        background-color: #EDEDED;
                        text-align: center;
                        line-height: 35px;
                        color: #C6C6C6;
                        transition: 800ms;
                        font-size: 1.3em;


                        &:hover {
                            color: $mainColor;
                            background-color: #fff;
                            transition: 400ms;
                            animation-duration: 3s;

                            i {
                                transform: rotateY(360deg);
                                transition: 800ms;

                            }
                        }
                    }

                }

            }


        }
    }
}