.contact {
    width: 100%;
    display: flex;

    @include breakpoint('large') {
        display: block;
        transition: 500ms;
    }

    .left {
        width: 36%;
        background-color: var(--bgColorLeft1);
        text-align: right;
        padding-top: 1%;

        @include breakpoint('large') {
            display: flex;
            width: 100%;
            justify-items: flex-end;
            text-align: left;
        }

        .header-left {

            margin: 0;
            padding-right: 10%;

            h3 {
                color: $footerHeaderColor
            }

            h4 {
                color: $fontColor;
            }

            @include breakpoint('large') {
                width: 100%;
                text-align: left;
                transition: 500ms;
                padding-left: 50px;
            }

        }
    }

    .right {
        width: 64%;
        background-color: #fff;
        padding: 20px 50px 20px 50px;
        background-color: var(--bgColorRight1);

        @include breakpoint('large') {
            width: 100%;
            left: 0;
            transition: 500ms;
        }


        .footer-contact {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #ccc;
            position: relative;

            @include breakpoint('medium') {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                column-gap: 20px;
                transition: 500ms;
                padding: 0 0 5% 0;
            }


            .contact-body {
                color: $footerHeaderColor;

                a {
                    font-size: 0.9em;
                    color: $footerHeaderColor;

                    &:hover {
                        color: $mainColor;
                        transition: 500ms;
                    }
                }

                .contact-top {
                    font-weight: 600;
                    font-size: 0.8em;

                }

                .contact-bottom {
                    font-size: 0.9em;
                }

            }

        }

        .brand {
            width: 100%;
            margin-top: 7%;
            position: relative;

            @include breakpoint('medium') {
                width: 50%;
                left: 0;
                transition: 500ms;
            }


            .brand-left {

                .name {
                    font-size: 3em;
                    margin: 0;
                    opacity: 0.6;
                    color: $fontColor;
                }

                .surname {
                    font-size: 3em;
                    margin: -10px 0 0 0;
                    color: $mainColor;
                    font-weight: 700;
                }

            }

            .brand-right {
                position: absolute;
                right: 0;
                bottom: 8%;

                @include breakpoint('medium') {
                    top: 100%;
                    left: 0;
                    transition: 500ms;
                }


                .social {
                    display: flex;
                    justify-content: baseline;
                    gap: 10px;
                    padding: 5% 0 5% 0;



                    a {
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        border: 2px solid #EDEDED;
                        background-color: #EDEDED;
                        text-align: center;
                        line-height: 35px;
                        color: #C6C6C6;
                        transition: 800ms;
                        font-size: 1.3em;


                        &:hover {
                            color: $mainColor;
                            background-color: #fff;
                            transition: 400ms;
                            animation-duration: 3s;

                            i {
                                transform: rotateY(360deg);
                                transition: 800ms;

                            }
                        }
                    }

                }

            }


        }
    }
}