.expertese {
    width: 100%;
    display: flex;

    @include breakpoint('large') {
        display: block;
        transition: 500ms;
    }


    .left {
        width: 36%;
        background-color: $bgColorleft1;
        text-align: right;

        @include breakpoint('large') {
            display: flex;
            width: 100%;
            justify-items: flex-end;
            text-align: left;
        }

        .header-left {

            margin: 0;
            padding-right: 10%;

            h3 {
                color: $footerHeaderColor
            }

            h4 {
                color: $fontColor;
            }


            @include breakpoint('large') {
                width: 100%;
                text-align: left;
                transition: 500ms;
                padding-left: 50px;
            }
        }


    }

    .right {
        width: 64%;
        display: flex;
        flex-wrap: wrap;
        padding: 20px 50px 20px 50px;

        @include breakpoint('large') {
            width: 100%;
            font-size: 0.9em;
            transition: 500ms;
        }

        @include breakpoint('medium') {
            font-size: 0.8em;
            transition: 500ms;


        }


        .ex-main {

            width: 50%;
            display: flex;

            @include breakpoint('medium') {
                width: 100%;
                flex-wrap: wrap;
                transition: 500ms;

            }





            .ex-left {
                color: $mainColor;
                font-weight: 700;
                font-size: 1.1em;
                margin: 0;
                padding: 6px 10px 0 0;
                opacity: 0.6;


            }

            .ex-right {
                line-height: 1.7;
                color: $fontColor;



                h3 {
                    margin: 0;
                    padding: 0 0 5px 0;


                }

            }
        }
    }

}