.left {
    display: flex;
    justify-content: flex-end;
    text-align: right;

    .header-left {

        margin: 50px;
        opacity: 0.6;
    }

}

.right {

    .header-right {

        opacity: 0.6;
    }

}