.head {
    display: flex;
    // flex-wrap: wrap;
    min-height: 100vh;

    @include breakpoint('large') {
        display: block;
    }


    .left {
        width: 36%;
        background-color: $bgColorleft2;

        @include breakpoint('large') {
            width: 100%;
            background-color: #fff;
            transition: 500ms;
            height: 40vh;
        }

        .picture {
            display: flex;
            align-items: center;
            justify-content: right;
            padding-right: 10%;
            height: 100%;

            @include breakpoint('large') {
                padding-right: 0;
                justify-content: center;
                transition: 500ms;
            }

            img {
                border-radius: 50%;
                // display: block;
                max-width: 230px;
                width: 100%;
                height: auto;
                margin: auto 0;

                @include breakpoint('large') {
                    max-width: 200px;
                    transition: 500ms;
                }


                @include breakpoint('medium') {
                    max-width: 200px;
                }

                @include breakpoint('small') {
                    max-width: 140px;
                }
            }
        }

    }

    .right {
        width: 64%;
        background-color: #fff;
        padding: 20px 100px 20px 50px;
        position: absolute;
        left: 36%;
        height: 100%;

        @include breakpoint('large') {
            width: 100%;
            left: 0;
            padding: 0;
            transition: 500ms;
            height: 60vh;

        }

        .brand {
            position: relative;
            width: 100%;
            top: 50%;
            translate: 0 -50%;

            @include breakpoint('large') {
                position: static;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 10%;
                transition: 500ms;

            }


            .name {
                font-size: 4em;
                margin: 0;
                opacity: 0.6;
                color: $fontColor;

                @include breakpoint('large') {
                    font-size: 3em;
                    transition: 500ms;

                }

                @include breakpoint('medium') {
                    font-size: 3em;
                }

            }

            .surname {
                font-size: 4em;
                margin: -10px 0 0 0;
                color: $mainColor;
                font-weight: 700;

                @include breakpoint('large') {
                    font-size: 3em;
                    transition: 500ms;

                }

                @include breakpoint('medium') {
                    font-size: 3em;
                }

            }

            .role {
                font-size: 1.3em;
                color: $fontColor;
                margin: 10px 0 0 0;
                font-weight: 700;

                @include breakpoint('large') {
                    font-size: 1em;
                    transition: 500ms;

                }

                @include breakpoint('medium') {
                    font-size: 1em;
                }


            }

            .social {
                display: flex;
                width: 86%;
                justify-content: right;
                gap: 10px;
                margin-top: -5%;

                @include breakpoint('large') {
                    margin: 0;
                    padding-top: 2%;
                    justify-content: center;
                    transition: 500ms;

                }

                @include breakpoint('medium') {
                    padding-top: 5%;
                }



                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    border: 2px solid #EDEDED;
                    background-color: #EDEDED;
                    text-align: center;
                    line-height: 35px;
                    color: #C6C6C6;
                    transition: 800ms;
                    font-size: 1.3em;

                    @include breakpoint('large') {
                        width: 30px;
                        height: 30px;
                        font-size: 1em;
                        line-height: 25px;
                        transition: 500ms;
                    }

                    @include breakpoint('medium') {
                        width: 30px;
                        height: 30px;
                        font-size: 1em;
                        line-height: 25px;

                    }


                    &:hover {
                        color: $mainColor;
                        background-color: #fff;
                        transition: 400ms;
                        animation-duration: 3s;

                        i {
                            transform: rotateY(360deg);
                            transition: 800ms;

                        }
                    }
                }

            }


        }

        .header-contact {
            display: flex;
            position: absolute;
            bottom: 50px;
            width: 87%;
            justify-content: space-between;
            padding-right: 50px;
            border-top: 2px solid #ccc;

            @include breakpoint('large') {
                margin: 0 50px;
                transition: 500ms;
            }

            @include breakpoint('medium') {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 20px;

            }




            .contact-body {
                color: $footerHeaderColor;

                // @include breakpoint('medium') {
                //     display: block;
                // }


                .contact-top {
                    font-weight: 600;
                    font-size: 0.8em;

                }

                .contact-bottom {
                    font-size: 0.9em;
                }

                a {
                    font-size: 0.9em;
                    color: $footerHeaderColor;

                    &:hover {
                        color: $mainColor;
                        transition: 500ms;
                    }

                }
            }

        }

    }
}