.head {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;

    .left {
        width: 36%;
        background-color: $bgColorleft2;

        @include breakpoint('large') {
            width: 25%;
        }

        @include breakpoint('medium') {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .picture {
            display: flex;
            align-items: center;
            justify-content: right;
            padding-right: 50px;

            @include breakpoint('medium') {
                padding-right: 0;
                justify-content: center;
                padding: 100px 0;
            }

            img {
                border-radius: 50%;
                display: block;
                max-width: 230px;
                width: 100%;
                height: auto;

                @include breakpoint('medium') {
                    max-width: 200px;
                }

                @include breakpoint('small') {
                    max-width: 140px;
                }
            }
        }

    }

    .right {
        width: 64%;
        background-color: #fff;
        padding: 20px 100px 20px 50px;
        position: relative;

        @include breakpoint('large') {
            width: 75%;
        }

        .brand {
            width: 87%;
            position: absolute;
            top: 50%;
            translate: 0 -50%;

            .name {
                font-size: 4em;
                margin: 0;
                opacity: 0.6;
                color: $fontColor;
            }

            .surname {
                font-size: 4em;
                margin: -10px 0 0 0;
                color: $mainColor;
                font-weight: 700;
            }

            .role {
                font-size: 1.3em;
                color: $fontColor;
                margin: 10px 0 0 0;
                font-weight: 700;

            }

            .social {
                display: flex;
                justify-content: right;
                gap: 10px;
                padding-bottom: 20px;
                margin-top: -35px;


                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    border: 2px solid #EDEDED;
                    background-color: #EDEDED;
                    text-align: center;
                    line-height: 35px;
                    color: #C6C6C6;
                    transition: 800ms;
                    font-size: 1.3em;

                    &:hover {
                        color: $mainColor;
                        background-color: #fff;
                        transition: 400ms;
                        animation-duration: 3s;

                        i {
                            transform: rotateY(360deg);
                            transition: 800ms;

                        }
                    }
                }

            }


        }

        .header-contact {
            display: flex;
            position: absolute;
            bottom: 50px;
            width: 87%;
            justify-content: space-between;
            padding-right: 50px;
            border-top: 2px solid #ccc;

            .contact-body {
                color: $footerHeaderColor;

                .contact-top {
                    font-weight: 600;
                    font-size: 0.8em;

                }

                .contact-bottom {
                    font-size: 0.9em;
                }

                a {
                    font-size: 0.9em;
                    color: $footerHeaderColor;

                    &:hover {
                        color: $mainColor;
                        transition: 500ms;
                    }

                }
            }

        }

    }
}