.intro {
    width: 100%;
    display: flex;

    @include breakpoint('large') {
        display: block;
        transition: 500ms;
    }


    .left {
        width: 36%;
        background-color: var(--bgColorLeft2);
        text-align: right;

        @include breakpoint('large') {
            display: flex;
            width: 100%;
            justify-items: flex-end;
            text-align: left;
        }

        .header-left {
            margin: 0;
            padding: 6% 10% 0 0;

            h3 {
                color: $footerHeaderColor
            }

            h4 {
                color: $fontColor;
            }


            @include breakpoint('large') {
                width: 100%;
                padding-left: 50px;
            }

        }

    }

    .right {
        width: 64%;
        background-color: var(--bgColorRight2);
        padding: 20px 50px 20px 50px;

        @include breakpoint('large') {
            width: 100%;
            transition: 500ms;

        }

        p {
            font-size: 1.3em;
            line-height: 1.7;
            opacity: 0.8;
            text-align: justify;

            @include breakpoint('large') {
                font-size: 1.1em;
                transition: 500ms;
            }


            @include breakpoint('medium') {
                font-size: 0.9em;
                transition: 500ms;

            }


            a {
                color: $mainColor;
            }
        }
    }
}