.intro {
    width: 100%;
    display: flex;

    @include breakpoint('large') {
        display: block;
    }


    .left {
        width: 36%;
        background-color: $bgColorleft2;
        text-align: right;


        @include breakpoint('large') {
            display: flex;
            width: 100%;
            justify-items: flex-end;

        }

        .header-left {
            margin: 0;

            @include breakpoint('large') {
                width: 100%;
                padding-right: 100px;
            }

        }

    }

    .right {
        width: 64%;
        background-color: $bgColorright2;
        padding: 20px 100px 20px 50px;

        @include breakpoint('large') {
            width: 100%;
        }


        p {
            font-size: 1.3em;
            line-height: 1.7;
            opacity: 0.8;
            text-align: justify;

            a {
                color: $mainColor;
            }
        }
    }
}