@mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
    $factor: calc(1 / ($max-vw - $min-vw)) * ($max-value - $min-value);
    $calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

    font-size: $min-value; // Fallback for older browsers
    font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
}

@mixin fluid-type-container($min-value, $max-value) {
    $min-vw: 320px;
    $max-vw: 1140px;
    $factor: calc(1 / ($max-vw - $min-vw)) * ($max-value - $min-value);
    $calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

    font-size: $min-value; // Fallback for older browsers
    font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
}

@mixin breakpoint($point) {
    @if $point==small {
        @media (min-width: 480px) {
            @content;
        }
    }

    @else if $point==medium {
        @media (min-width: 720px) {
            @content;
        }
    }

    @else if $point==large {
        @media (min-width: 960px) {
            @content;
        }
    }

    @else if $point==wide {
        @media (min-width: 1000px) {
            @content;
        }
    }

    @else {
        @warn 'Not a valid breakpoint name.';
    }
}