.skills {
    width: 100%;
    display: flex;

    .left {
        width: 36%;
        background-color: $bgColorleft2;
        display: flex;
    }

    .right {
        width: 64%;
        background-color: $bgColorright2;
        display: flex;
        padding: 20px 100px 20px 50px;

        .progress-bars {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            .item {
                width: 50%;
                margin: 0 0 40px 0;

                .language {
                    margin: 0 0 24px 0;

                    span {
                        color: $mainColor;
                        font-weight: 700;
                        font-size: 1.1em;

                    }

                    h3 {
                        display: inline;
                        opacity: 0.6;
                        padding: 0 0 0 10px;
                        color: $fontColor;

                    }
                }

                .bar {
                    background-color: $progressBarBgBottomColor;
                    height: 5px;

                    .bg {
                        background-color: $mainColor;
                        height: 5px;
                        position: relative;
                    }

                }
            }
        }

    }
}





// .right .progress-bars .item .bar .bg .cloud {
//     width: 46px;
//     height: 32px;
//     border: 1px solid var(--mainColor);
//     text-align: center;
//     line-height: 32px;
//     border-radius: 5px;
//     color: var(--mainColor);
//     position: absolute;
//     right: -23px;
//     top: -40px;

// }

// .right .progress-bars .item .bar .bg .cloud::after {
//     position: absolute;
//     display: block;
//     content: "";
//     width: 10px;
//     height: 10px;
//     border-right: 1px solid var(--mainColor);
//     border-bottom: 1px solid var(--mainColor);
//     rotate: 45deg;
//     left: 50%;
//     translate: -50% -6px;
//     background-color: var(--bodyBgColor);}