.skills {
    width: 100%;
    display: flex;

    @include breakpoint('large') {
        display: block;
        transition: 500ms;
    }


    .left {
        width: 36%;
        background-color: $bgColorleft2;
        text-align: right;
        padding-top: 4px;

        @include breakpoint('large') {
            display: flex;
            width: 100%;
            justify-items: flex-end;
            text-align: left;
        }


        .header-left {

            margin: 0;
            padding-right: 10%;

            h3 {
                color: $footerHeaderColor
            }

            h4 {
                color: $fontColor;
            }

            @include breakpoint('large') {
                width: 100%;
                text-align: left;
                transition: 500ms;
                padding-left: 50px;
            }

        }


        @include breakpoint('large') {
            width: 100%;
            text-align: left;
            transition: 500ms;
        }

    }

    .right {
        width: 64%;
        background-color: $bgColorright2;
        display: flex;
        padding: 20px 50px 20px 50px;

        @include breakpoint('large') {
            width: 100%;
            transition: 500ms;
        }

        // @include breakpoint('medium') {
        //     width: 50%;
        //     transition: 500ms;
        // }

        .progress-bars {
            display: flex;
            flex-wrap: wrap;
            width: 100%;



            .item {
                width: 50%;
                margin: 0 0 40px 0;
                padding-right: 5%;

                @include breakpoint('medium') {
                    width: 100%;
                    flex-wrap: wrap;
                    transition: 500ms;

                }


                .language {
                    margin: 0 0 24px 0;

                    span {
                        color: $mainColor;
                        font-weight: 700;
                        font-size: 1.1em;

                        @include breakpoint('x') {
                            transition: 500ms;
                            font-size: 0.9em;

                        }


                    }

                    h3 {
                        display: inline;
                        opacity: 0.6;
                        padding: 0 0 0 10px;
                        color: $fontColor;

                        @include breakpoint('x') {
                            transition: 500ms;
                            font-size: 0.9em;

                        }


                    }
                }

                .bar {
                    background-color: $progressBarBgBottomColor;
                    height: 5px;


                    .bg {
                        background-color: $mainColor;
                        height: 5px;
                        position: relative;
                    }

                }
            }


        }

    }
}


// @media (max-width: 1000px) {
//     .skills .right .progress-bars .item {
//         width: 100%;
//         margin: 0 0 40px 0;
//     }
// }