.change-theme {

    display: block;
    position: fixed;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--changeThemeBgColor);
    line-height: 40px;

    .change-theme {

        color: var(--changeThemeColor);
    }
}

.light {

    .change-theme {

        .fa-sun {
            display: none;
        }
    }
}

.dark {

    .change-theme {

        .fa-moon {

            display: none;
        }
    }
}

// 