// Background colors:

.light {

    $bgColorLeft1: #FBFBFB;
    $bgColorLeft2: #F8F8F8;
    $bgColorRight1: #FFF;
    $bgColorRight2: #FCFCFC;
    $changeThemeBgColor: #2B2C2C;

}


.dark {
    $bgColorLeft1: #2B2C2C;
    $bgColorLeft2: #292A2A;
    $bgColorRight1: #2D2E2E;
    $bgColorRight2: #2B2C2C;
    $changeThemeBgColor: #FBFBFB;

}

// $bgColorLeft1: #FBFBFB;
// $bgColorLeft2: #F8F8F8;
// $bgColorRight1: #FFF;
// $bgColorRight2: #FCFCFC;
// $bgColorLeft1: #2B2C2C;
// $bgColorLeft2: #292A2A;
// $bgColorRight1: #2D2E2E;
// $bgColorRight2: #2B2C2C;
// $changeThemeBgColor: #fff;
// $changeThemeColor: #fff;

// 

$mainColor: #F8BB10;
$textColor: #989898;
$fontColor: #939393;
$footerHeaderColor: #727272;
$footerLineColor: #ebe8e8;
$progressBarBgBottomColor: #ECECEC;
$lineColor: #535353;
$textPortfolioColor: #3a3a3a;