$bgColorleft1: #FBFBFB;
$bgColorleft2: #F8F8F8;
$bgColorright1: #FFF;
$bgColorright2: #FCFCFC;
$mainColor: #F8BB10;
$textColor: #989898;
$fontColor: #939393;
$footerHeaderColor: #727272;
$footerLineColor: #ebe8e8;
$progressBarBgBottomColor: #ECECEC;
$lineColor: #535353;
$textPortfolioColor: #3a3a3a;